body
{
    background-image: url("Assets/nebula.jpg");
    background-size: cover;
}

.jumbotron
{
    background: transparent;
}
.jumbotron .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
  text-shadow: 40px black;
}

/* .btn btn-lg btn-default */

.h1
{
    text-align: center;
    border: 10px solid white;
}

#
{
background-color: red;
}
