.jumbotron{
    text-align: center;
    background-size: cover;
    background-position: center;
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/1a/a6/cb/1aa6cb754f45e01ba2fd1bd97eafca4f.jpg");
    color: black
}


.nav-pills{

}

.h1{
    text-align: center;
}

